<ul>

  Breadcrumbs
  <li *ngFor="let breadCrumb of breadCrumbs ; let i = index">
    {{breadCrumb}}&nbsp;
  </li>


</ul>

<app-control1></app-control1>
<app-control2></app-control2>
<app-control3></app-control3>
<app-control4 [items$]="pdfHistory$"></app-control4>

<!-- {{userData | async | json}} -->

<!-- {{pdfHistory$ | async  | json}} -->
<!-- {{pdfHistory  | json}} -->


<div *ngFor="let pdf of pdfHistory ; let i = index">
  <div *ngFor="let xxxx of pdf.items ; let i = index">
    {{xxxx.artusPdfLink | json}}&nbsp;
  </div>
</div>

<div *ngFor="let pdf of pdfHistory$ | async ; let i = index">
  <div *ngFor="let xxxx of pdf.items ; let i = index">
    {{xxxx.artusPdfLink | json}}&nbsp;
  </div>
</div>

<!-- <ul>

  <li *ngFor="let pdf of pdfHistory | async ; let i = index" >
    {{pdf}}&nbsp;
  </li>


</ul> -->