<ul>

  Breadcrumbs
  <li *ngFor="let breadCrumb of breadCrumbs ; let i = index">
    {{breadCrumb}}&nbsp;
  </li>


</ul>

<div style="width:100%; text-align: center;background:transparent">
  <div style="display:inline-block">
    <app-control1 [items$]="userData$"></app-control1>
  </div>
</div>

<div style="width:100%; text-align: center;background:transparent">
  <div style="display:inline-block">
    <app-control2></app-control2>
  </div>
</div>

<div style="width:100%; text-align: center;background:transparent">
  <div style="display:inline-block">
    <app-control3 [items$]="coverables$"></app-control3>
  </div>
</div>


<div style="width:100%; text-align: center">
  <div style="display:inline-block">
    <app-control4 [items$]="persons$"></app-control4>
  </div>
</div>




<!-- {{userData | async | json}} -->

<!-- {{persons$ | async  | json}} -->
